<div class="container">
  <div class="row">
    <div class="col-md-6 img">
      {{#if user.image}}
      <img src="{{user.image}}" alt="" class="img-rounded" style="width: 250px;margin-bottom:25px;">
      {{else}}
      <img src="https://lorempixel" alt="">
      {{/if}}
    </div>
    <div class=" col-md-6 details">
      <blockquote>
        <h5>{{user.name}}</h5>
      </blockquote>
      <p>
        {{user.email}} <br>
      </p>

      <p>
        <!--{{restaurantCount}}間已經評論餐廳 -->
      </p>
      <button type="button" class="btn btn-link">
        <a href="/users/{{user.id}}/edit">
          Edit
        </a>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      評論{{restaurantCounts}}間餐廳
    </div>
    {{#restaurants}}
    <div class="m-3" style="display: inline-block">
      <a href="/restaurants/{{this.id}}">
        <img
          src="{{#if this.image}}{{this.image}}{{else}}https://p.kindpng.com/picc/s/21-216273_restaurant-logo-big-image-restaurant-logo-png-free.png{{/if}}"
          alt="" style="width: 100px">
      </a>
    </div>
    {{/restaurants}}
  </div>
</div>